*{
    margin:0;
    padding: 0;
    
    
    
}



/***header style start**/
.header{
    width: 100%;
    height: 40px;
    background-color: #F5DEB3;


}
.header h5{
padding-top: 10px;
    color:#4F0147;
    text-align: center;
}
.header b{
    font-size: 15px;
}
/***header style end***/
body{
    font-family: sans-serif;
}

.flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.container{
    width: 100%;
    height: 100vh;
    background-color:#DBDBDB;
}

nav .logo{
    color:#F5DEB3;
    font-size: 33px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 40px;
}
nav{
    position: sticky;
    top: 0;
    height: 70px;
    background-color:#4F0147;
    opacity:1;
}
nav ul{
    margin-right: 30px;
}
nav ul li{
    display:inline-block;
}

nav ul li a{
    color: #F5DEB3;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background:#4F0147;
transition: 0.5s;
}





nav .search_box{
    display: flex;
    margin:auto 0;
    height:35px;
    line-height: 35px;
    padding-right: 120px;
}
nav .search_box input{
    border:none;
    outline:none;
    background: white;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
width: 450px;
}
nav .search_box span{
    background: white;
    color:dimgrey;
    font-size: 20px;
    background:#F5DEB3 ;
    height:56%;
    padding:8px;
    position:relative;
    cursor:pointer;
    z-index:1;
}

nav .search_box span::after{
    height: 100%;
    width:0%;
    background: #F5DEB3;
    position: absolute;
    top:0;
    right:0;
    z-index:-1;

}
.spirits1{
    line-height: 30px;
    background-color: white;
    font-size: 16px;
    height: 600px;
    width: 240px;
    border-bottom: 1px solid grey;
    margin-left: 370px;
padding-left:20px ;

}
.vodka{
    display: flex;
    
}
.vodka2{
    margin-left: 45px;
}

.main h6{
    color: sienna;
    font-size: 15px;
}
.spirits7{
    line-height: 30;
    background-color:#DBDBDB;
    font-size: 16px;
    height: 600px;
    width: 240px;
    border-bottom: 1px solid grey;
    margin:0px;
padding-left:20px ;
}
.spirits3{
    line-height: 30px;
    background-color: white;
    font-size: 16px;
    height: 600px;
    width: 240px;
    border-bottom: 1px solid grey;
    margin:0px;
padding-left:20px ;
}
.spirits4{
    line-height: 30px;
    background-color:#DBDBDB;
    font-size: 16px;
    height: 600px;
    width: 240px;
    border-bottom: 1px solid grey;
    margin:0px;
padding-left:20px ;
}

.spirits5{
    line-height: 30px;
    background-color: white;
    font-size: 16px;
    height: 600px;
    width:240px;
    border-bottom: 1px solid grey;
        margin:0px;
padding-left:20px ;
}
.spirits6{
    line-height: 30px;
    background-color:#DBDBDB;
    font-size: 16px;
    height: 600px;
    width: 240px;
    border-bottom: 1px solid grey;
    margin:0px;
padding-left:20px ;
}


.div1{
    line-height: 45px;
    background-color: white;
    font-size: 20px;
    height: 350px;
    width: 250px;
    outline: 1px solid grey;
    margin:0px;
padding-left:20px ;
}
.div2{
    line-height: 35px;
    background-color:#DBDBDB;
    font-size: 20px;
    height: 350px;
    width: 250px;
    border-bottom: 1px solid grey;
    margin:0px;
padding-left: 20px;
}

.div3{
    line-height: 45px;
    background-color: white;
    font-size: 20px;
    height: 350px;
    width: 250px;
border-bottom: 1px solid grey;
    margin:0px;
padding-left: 20px;
}

.div4{
    line-height: 45px;
    background-color:#DBDBDB;
    font-size: 20px;
    height: 350px;
    width: 250px;
    border-bottom: 1px solid grey;
    margin:0px;
    padding-left: 20px;

}
.beersdiv2{
line-height: 35px;
    background-color: white;
    font-size: 20px;
    height: 350px;
    width: 250px;
    border-bottom: 1px solid grey;
    margin:0px;
padding-left:20px ;
}
.beersdiv3{
    line-height: 35px;
    background-color:white;
    font-size: 20px;
    height: 350px;
    width: 250px;
    border-bottom: 1px solid grey;
    margin:0px;
padding-left: 20px;
}

.beersdiv3{
    
    background-color: white;
    height: 350px;
    width: 250px;
border-bottom: 1px solid grey;
    
}

.beersdiv1{
    margin-left: 125px;
    background-color:white;
    
    height: 350px;
    width: 250px;
    border-bottom: 1px solid grey;
    

}
.div5{
    height: 351px;
    width: 454px;
    background-color: white;
    background-image: url('https://img.artpal.com/802902/4-21-3-6-13-50-23m.jpg');
background-size: cover;
border-bottom: 1px solid grey;
}
.beersdiv5{
    height: 351px;
    width: 470px;
    background-color: white;
    background-image: url('https://i.pinimg.com/originals/c8/d5/a6/c8d5a6f6080461722acea394a1f56925.jpg');
background-size: cover;
border-bottom: 1px solid grey;
}
.winesdiv2{
    line-height: 35px;
        background-color: white;
        font-size: 20px;
        height: 350px;
        width: 250px;
        border-bottom: 1px solid grey;
        margin:0px;
    padding-left:20px ;
    }
    .winesdiv3{
        line-height: 35px;
        background-color:white;
        font-size: 20px;
        height: 350px;
        width: 250px;
        border-bottom: 1px solid grey;
        margin:0px;
    padding-left: 20px;
    }
    
    .winesdiv3{
        
        background-color: white;
        height: 350px;
        width: 250px;
    border-bottom: 1px solid grey;
        
    }
    
    .winesdiv1{
        margin-left: 190px;
        background-color:white;
        
        height: 350px;
        width: 250px;
        border-bottom: 1px solid grey;
        
    
    }
    .winesdiv5{
        height: 351px;
        width: 585px;
        background-color: white;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIwWXJwi7PP1VfhJ1ZLkcFKKllcaEvWKUuSQVCC5Iieg&usqp=CAU&ec=48665698');
    background-size: cover;
    border-bottom: 1px solid grey;
    }

.main{

    margin-left: -775px;
    display:flex;
}

nav ul .main{
    position: absolute;
    top: 85px; 
    
    opacity: 0; 
    visibility: hidden;
    
    

}
nav ul li:hover >.main{
    
    top:70px;
    opacity: 1;
    visibility: visible;
    visibility: .3s linear;
}


/*BODY STYLE START***/

.domestic1{
    border-radius: 10px;
    background-color: white;
    width: 400px;
    height: 200px;
    margin-top: 20px;
    float: right;
    margin-right: 240px;
}
.domestic1 h4{
    margin-top: 10px;
    margin-left: 15px;
}
.domestic2{
    border-radius: 10px;
    background-color: white;
    width: 400px;
    height: 300px;
    margin-left: 58.5%;
    
    margin-top:15% ;
}
.domestic2 h4{
    padding-top: 10px;
    margin-left: 25px;
}
button{
    color: white;
    border-radius: 10px;
    background-color: #4F0147;
    width: 180px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.domestic1 li{
    display: flex;
}
.domestic2 li{
    display: flex;
}
body{
    background-image: url("https://livingliquidz.com/Content/static/images/img-91.png");
    background-repeat: no-repeat;
    background-position: 200px 150px;
    background-color: #DBDBDB;
    background-size: 500px 500px;
    
    
}
.paragraph{
    color: darkgray;
    line-height: 30px;
    font-size: 20px;
    padding: 3px 70px 3px 70px ;
}
.head{
    padding:  3px 50px  3px 50px ;
}
.list{
    text-decoration: underline;
    padding-left: 100px;
    font-size: 20px;

}
/** FOOTER STYLE  START**/
.footer1{
    margin-top: 50px;
    background-color: #F5DEB3;
    font-family: sans-serif;
    text-align: center;
    height: 140px;
    padding-top: 20px;
}
.image{
    padding-top: 5px;
    display:flex;
    padding-left: 550px;
margin-top: 15px;
}
.image img{
    width: 200px;
    height: 60px;
    
}
.footer2{
    height: 300px;
    background-color: #4F0147;
display: flex;


}
.footer-div1 h2{
    color: burlywood;
padding-top: 50px;
}
.footer-div1{
   margin-left: 70px;
   width:600px
}
.footer-div1 p{
    color: white;
    padding-top: 10px;
    line-height: 27px;
}
.footer-div2   h2{
    color:burlywood;
    padding-top: 50px;
}
.footer-div2  li{
    color: white;
    line-height: 25px;

}
.footer-div2{
    margin-left: 100px;
    width: 200px;
}
.footer-div3   h2{
    color:burlywood;
    padding-top: 50px;
}
.footer-div3  li{
    color: white;
    line-height: 25px;

}
.footer-div3{
    margin-left: 100px;
    width: 200px;
}
.footer-div4{
    height: 60px;
    background-color: rgba(0,0,0,0.4);
    margin-top: -60px;
}
/**FOOTER STYLE END***/